<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <a href="staffhome">Home</a>
  <a href="manage_room">Manage Room</a>
  <a href="manage_food">Manage Food</a>
  <a href="admin_view_room_bookings">Room Bookings</a>
  <a href="admin_view_food_bookings">Food Bookings</a>
  <a href="adminviewcomplaints">Complaints</a>
  <a href="/">Logout</a>
  
